/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after, .header:after, .main-content .section-project .images-list:after, .main-content .section-new-event .new-event-list:after, .main-content .section-gallery .gallery-list:after, .main-content .section-contact:after {
  content: "";
  display: table;
  clear: both; }

div {
  margin: 0;
  padding: 0; }

a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #000; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  display: inline-block; }

img {
  max-height: 100%;
  max-width: 100%; }

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto; }

h2 {
  font-weight: bold;
  font-size: 20px;
  color: #282828;
  padding-bottom: 20px; }

.title {
  text-align: center;
  margin-top: 50px; }

.title .image-icon {
  padding-bottom: 40px;
  margin: 0 auto;
  position: relative; }

.image-icon::before {
  content: "";
  position: absolute;
  border-top: 1px solid #ccc;
  right: 24%;
  top: 30%;
  width: 300px; }

.image-icon::after {
  content: "";
  position: absolute;
  border-top: 1px solid #ccc;
  left: 24%;
  top: 30%;
  width: 300px; }

.tabs-list {
  text-align: center;
  margin-bottom: 25px; }

.tabs-item {
  display: inline-block;
  height: 40px;
  padding-top: 5px; }

.active {
  background-color: #0b9444;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

* {
  box-sizing: border-box; }

body {
  font-family: "UTM Avo";
  padding: 0;
  margin: 0; }

.header {
  display: flex;
  align-items: center; }
  .header .logo {
    display: inline-block;
    width: 20%; }
  .header .navbar {
    display: inline-block;
    width: 80%;
    float: right;
    text-align: right; }
    .header .navbar .active-nav a {
      color: #52ad74; }
    .header .navbar li {
      position: relative; }
      .header .navbar li a {
        padding: 15px 20px; }
      .header .navbar li :after {
        position: absolute;
        top: 42%;
        left: 100%;
        content: "";
        border-top: 5px solid #0b9444;
        border-bottom: 5px solid #0b9444;
        border-left: 5px solid #0b9444;
        border-right: 5px solid #0b9444;
        border-radius: 50%; }
      .header .navbar li:last-child :after {
        border: none; }

.section-banner {
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 800px;
  position: relative; }
  .section-banner .container {
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    color: #ffffff;
    line-height: 90px; }
    .section-banner .container h3 {
      font-size: 28px; }
    .section-banner .container h1 {
      font-weight: bold;
      font-size: 40px; }
    .section-banner .container a {
      display: inline;
      color: #ffffff;
      border: 1px solid #ffffff;
      padding: 5px 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }

.main-content {
  margin-top: 80px; }
  .main-content .section-aboutus {
    display: block;
    text-align: center; }
  .main-content .aboutus-list {
    display: flex;
    justify-content: center; }
  .main-content .aboutus-item {
    text-align: left;
    padding: 10px; }
    .main-content .aboutus-item h3 {
      font-weight: bold;
      margin-bottom: 13px; }
    .main-content .aboutus-item span {
      color: #0b9444; }
    .main-content .aboutus-item p {
      color: #555555;
      margin-bottom: 13px;
      font-size: 15px;
      line-height: 20px; }
  .main-content .section-product .images-list {
    max-width: 100%; }
  .main-content .section-product .image-item {
    width: 25%;
    margin-right: -5px; }
  .main-content .section-product .view-all {
    text-align: center;
    height: 80px;
    background-color: #0b9444;
    padding-top: 30px; }
    .main-content .section-product .view-all a {
      display: inline;
      color: #ffffff;
      border: 1px solid;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px; }
  .main-content .section-project {
    width: 100%; }
    .main-content .section-project .image-item {
      float: left;
      width: 24%;
      padding-right: 10px; }
      .main-content .section-project .image-item img {
        padding-bottom: 10px; }
  .main-content .section-new-event {
    background-image: url(../images/event-bg.jpg); }
    .main-content .section-new-event .title {
      padding-top: 40px; }
    .main-content .section-new-event .image-icon::before {
      width: 0; }
    .main-content .section-new-event .image-icon::after {
      width: 0px; }
    .main-content .section-new-event h2 {
      color: #ffffff; }
    .main-content .section-new-event .new-event-list {
      width: 100%; }
    .main-content .section-new-event .new-event-item {
      width: 33%;
      float: left;
      padding-right: 15px; }
    .main-content .section-new-event h4 {
      font-weight: bold;
      color: #ffffff;
      word-spacing: 5px;
      font-size: 13px;
      padding-top: 10px; }
    .main-content .section-new-event p {
      font-size: 13px;
      color: #ffffff;
      word-spacing: 6px;
      padding-top: 10px;
      padding-bottom: 40px; }
  .main-content .section-gallery {
    margin-bottom: 60px; }
    .main-content .section-gallery .gallery-list {
      width: 100%;
      margin-top: 30px; }
    .main-content .section-gallery .gallery-item {
      width: 24%;
      float: left;
      padding-left: 20px; }
    .main-content .section-gallery p {
      padding-top: 20px;
      font-size: 14px;
      line-height: 18px;
      word-spacing: 6px; }
  .main-content .section-map iframe {
    width: 100%; }
  .main-content .section-contact {
    width: 100%;
    padding-bottom: 60px; }
    .main-content .section-contact h3 {
      text-align: center;
      height: 60px;
      background-color: #0b9444;
      padding-top: 24px;
      color: #ffffff;
      font-weight: bold;
      margin-bottom: 40px; }
    .main-content .section-contact .form {
      width: 50%;
      float: left;
      padding-left: 10%; }
      .main-content .section-contact .form p {
        color: #a4a4a4;
        padding-bottom: 20px;
        font-style: italic; }
      .main-content .section-contact .form input {
        width: 70%;
        height: 30px;
        margin-bottom: 20px; }
    .main-content .section-contact h2 {
      font-size: 14px; }
    .main-content .section-contact .contact-information {
      width: 50%;
      float: left;
      margin-top: 35px; }
    .main-content .section-contact .note {
      color: #bbbbbb;
      font-size: 14px;
      margin-bottom: 10px;
      margin-top: -4px; }
    .main-content .section-contact p {
      font-size: 14px;
      padding-bottom: 10px; }
    .main-content .section-contact span {
      font-weight: bold; }
    .main-content .section-contact img {
      padding-left: 5px; }

footer {
  width: 100%;
  height: 80px;
  background-color: #000000; }
  footer .left {
    color: #ffffff;
    font-size: 13px;
    width: 50%;
    float: left;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%; }
  footer .right {
    color: #ffffff;
    font-size: 13px;
    width: 50%;
    float: left;
    padding-top: 40px;
    padding-left: 30%; }
  footer span {
    color: #0b9444; }

/*# sourceMappingURL=style.css.map */
