@import 'variable';

div {
  margin: 0;
  padding: 0;
}
a{
	display: block;
  padding: 6px 12px;
	text-decoration: none;
	color:$color-a;
}
ul{
	margin: 0;
  padding: 0;
  list-style: none;
}
li{
	display: inline-block;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
h2{
    font-weight: bold;
    font-size: 20px;
    color: $color-service;
    padding-bottom: 20px;
}
.title {
  text-align: center;
  margin-top: 50px;
}
.title .image-icon{
	padding-bottom: 40px;
  margin:0 auto;
	position: relative;
}

.image-icon::before { 
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    right: 24%;
    top: 30%;
    width: 300px;
}
.image-icon::after { 
    content: "";
    position: absolute;
    border-top: 1px solid #ccc;
    left: 24%;
    top: 30%;
    width: 300px;
}
