$font-body:'UTM Avo';
$font-title:'';
$primary-color:#0b9444;
$secondary-color:#555555;
$color-black:#000000;
$hover-menu-item:#52ad74;
$color-white:#ffffff;
$view-more:#f0eff0;
$view-all:#ebf6ec;
$color-grey:#a4a4a4;
$input-contact:#aaaaaa;
$other-contact:#bbbbbb;
$color-a:#000;
$color-service:#282828;
