* {
  box-sizing: border-box;
}
body {
  font-family: "UTM Avo";
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  @extend .clearfix;
  .logo {
    display: inline-block;
    width: 20%;
  }
  .navbar {
    display: inline-block;
    width: 80%;
    float: right;
    text-align: right;
    .active-nav a {
      color: $hover-menu-item;
    }
    li {
      position: relative;
      a {
        padding: 15px 20px;
      }
      :after {
        position: absolute;
        top: 42%;
        left: 100%;
        content: "";
        border-top: 5px solid #0b9444;
        border-bottom: 5px solid #0b9444;
        border-left: 5px solid #0b9444;
        border-right: 5px solid #0b9444;
        border-radius: 50%;
      }
      &:last-child {
        :after {
          border: none;
        }
      }
    }
  }
 }
 .section-banner {
  background-image: url("../images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 800px;
  position: relative;
  .container {
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    color: $color-white;
    line-height: 90px;
    h3 {
      font-size: 28px;
    }
    h1 {
      font-weight: bold;
      font-size: 40px;
    }
    a {
      display: inline;
      color: $color-white;
      border: 1px solid $color-white;
      padding: 5px 20px;
      @include border-radius(5px);
    }
  } 
}


